#admin-buttons {
	width: 250px;
	height: 40px;
	margin: 0px 0px 0px 650px;
	padding: 0px 0px 0px 0px;
	background-color: #f6f6f6;
}

#admin-buttons #toolbar {
	list-style-type: none;
	margin: 0px 20px 0px 30px;
	padding: 6px 0px 0px 32px;
}

#admin-buttons #toolbar li {
	margin: 0px -1px 0px 0px;
	padding: 6px 13px 6px 13px;
	border: 1px solid #aaa;
	float: left;
	background-color: white;
}

#admin-buttons a {
	font-size: 12px;
	margin: 0px;
	padding: 0px;
}

#find-panel {
	width: 900px;
	height: 500px;
	border: 1px solid #aaa;
	margin: 20px 0px 0px 0px;
}

#find-panel-scroll {
	width: 900px;
	height: 473px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 0px;
	margin: 0px;
}

#find-panel a {
	font-size: 12px;
	font-weight: normal;
}