a {
	font-family: arial;
	color: blue;
	font-size: 16px;
	text-decoration: none;
}

a:hover {
	text-decoration:underline;
}

a.inText {
	color:blue;
	font-size:12px;
	text-decoration: none;
}

body {
	font-family: arial, times,sans-serif;
	font-size: 12px;
	color: #44;
	background-color: white;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

div.module {
	margin-top: 14px;
   border: 1px solid #AAAAAA;
	margin-left: 0px;
	font-family: normal;
	font-family: arial, times,sans-serif;
	font-size: 12px;
	word-spacing: 2px;
	color: #AAA;
	line-height: 1.4em;
}

div.module:first-child {
	margin-top: 0px;
}

fieldset {
	border: 1px solid #aaa;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	width: 840px;
	background-color: #f8f8f8;
}

fieldset label {
	font-weight: bold;
}

fieldset legend {
	font-size: 16px;
	color: blue;
}

fieldset td {
	border-right: none;
}

#footer {
	margin-top: 40px;
	padding-top: 10px;
	text-align: center;
	border-top: 1px solid #CCCCCC;
	font-family: arial, times,sans-serif;
	font-size: 12px;
	clear: both;
	color: #AAA;
}

h1 {
	text-align: left;
	margin-top: 2px;
	margin-bottom: 5px;
	font-size: 20px;
	color: #ccc;
	font-weight: normal;
}

h2 span {
	font-size: 24px;
	color: #CCCCCC;
	font-weight: normal;
}

h2 {
	margin-top: 50px;
	margin-bottom: 10px;
	font-size: 24px;
	color: blue;
	font-weight: bold;
}

h3 {
	font-size: 16px;
	color: blue;
	font-weight: normal;
	margin: 0;
	height: 16px;
	padding: 5px 5px 5px 5px;
	background: #F7F7F7;
	border-bottom: 1px solid #AAA;
}

#middle-panel #toolbar {
	list-style-type: none;
	margin: 17px 40px 0px 10px;
	padding: 0px 0px 0px 0px;
}

#middle-panel #toolbar li {
	margin: 0px -1px 0px 0px;
	padding: 6px 13px 6px 13px;
	border: 1px solid #aaa;
	float: left;
	background-color: white;
}

#middle-panel a {
	font-size: 12px;
	margin: 0px;
	padding: 0px;
}

#nav {
	width: 900px;
	color: #CCC;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	clear: both;
}

#nav ul {
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#nav li {
	margin: 0px -1px 0px 0px;
	padding: 8px 16px 6px 17px;
	border: 1px solid #aaa;
	float: left;
	background-color: white;
}

#nav li#current-tab {
	background-color: #eef;
	color: white;
}

p {
	padding: 9px 9px 9px 9px;
	font-family: normal;
	font-family: arial, times,sans-serif;
	font-size: 12px;
	word-spacing: 2px;
	color: #AAaAAA;
	line-height: 1.4em;
}
		
table {
	border-collapse: collapse;
	width: 100%;
	font-family: arial, sans-serif;
	margin: 0px;
	padding: 0px;
}

th {
	color: #555;
	font-size: 12px;
	font-weight: bold;
	padding: 3px 10px 3px 10px;
	border: none;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

td {
	color: #555;
	font-size: 12px;
	padding: 3px 10px 3px 10px;
	border: none;
	border-right: 1px solid #ccc;
}

td:last-child, th:last-child {
	border-right: none;
}

tr.odd {
	background-color: #eee;
}