#filters {
	width: 860px;
	height: 155px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
}

#filters td {
	border-right: none;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
}

#find-panel {
	width: 900px;
	height: 200px;
	border: 1px solid #aaa;
	margin: 20px 0px 0px 0px;
}

#found-panel {
	width: 900px;
	height: 180px;
	border: 1px solid #aaa;
	margin-bottom: 0px;
}

#find-panel-scroll {
	width: 900px;
	height: 173px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 0px;
	margin: 0px;
}

#found-panel tr.odd {
	background-color: #ededfd;
}

#found-panel-scroll {
	width: 900px;
	height: 153px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 0px;
	margin: 0px;
}

#middle-panel {
	width: 900px;
	height: 60px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-color: #f6f6f6;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
}

#middle-panel #move-up-down-div {
	float: left;
	width: 170px;
	text-align: center;
	padding: 4px 0px 0px 40px;
}

#middle-panel #move-up-down {
	color: #CCC;
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#middle-panel #move-up-down li {
	margin: -1px 10px 0px 0px;
	padding: 6px 16px 6px 16px;
	border: 1px solid #aaa;
	background-color: white;
}

#middle-panel #toolbar-div {
	float: right;
	color: #CCC;
}

#middle-panel #toolbar {
	list-style-type: none;
	margin: 17px 40px 0px 10px;
	padding: 0px 0px 0px 0px;
}

#middle-panel #toolbar li {
	margin: 0px -1px 0px 0px;
	padding: 6px 13px 6px 13px;
	border: 1px solid #aaa;
	float: left;
	background-color: white;
}

#middle-panel a {
	font-size: 12px;
	margin: 0px;
	padding: 0px;
}

#search-module {
	width: 860px;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
}

#search-module input.textinput {
 	background: #fff;
	display: inlne;
	padding: 0px 0px 0px 0px;
	margin-top: 10px;
	margin-left: 10px;
	height: 1.4em;
	border: 1px solid #aaa;
	width: 300px;
}

#search-module input.textinput:hover { 
	background-color:white;
}

#search-module input.searchButton {
	background-color: blue;
	color: #FFFFFF;
	font-weight: bold;
	display: inline;
	padding: 0 0 0 0;
	border: none;
	width: 28px;
	height: 1.5em;
}

#search-text {
	font-family: arial, sans-serif;
	color: #555
	font-weight: bold;
	float: left;
	margin: 0px 0px 10px 0px;
}

#search-text p {
	margin: 10px 0px 10px 120px;
	padding: 0px;
	font-weight: bold;
	color: #555;
}