a {
	font-family: arial;
	color: blue;
	font-size: 16px;
	text-decoration: none;

}

a:hover {
	text-decoration:underline;
}

a.inText {
	color:blue;
	font-size:12px;
	text-decoration: none;
}

body {
	font-family: arial, times,sans-serif;
	font-size: 12px;
	color: #44;
	background-color: white;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}


#container{
	width: 900px;
	margin-bottom: 20px;
}

div.module {
	margin-top: 14px;
   border: 1px solid #AAAAAA;
	margin-left: 0px;
	font-family: normal;
	font-family: arial, times,sans-serif;
	font-size: 12px;
	word-spacing: 2px;
	color: #AAA;
	line-height: 1.4em;
}

fieldset {
	border: 1px solid red;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	width: 800px;
}

fieldset p {
	margin: 0px;
	padding: 0px;
}

fieldset legend {
	font-size: 16px;
	color: blue;
}

#footer {
	margin-top: 40px;
	padding-top: 10px;
	text-align: center;
	border-top: 1px solid #CCCCCC;
	font-family: arial, times,sans-serif;
	font-size: 12px;
	clear: both;
	color: #AAA;
}

h1 {
	margin-top: 10px;
	font-size: 24px;
	color: blue;
	font-weight: normal;
}

h1 span {
	font-size: 24px;
	color: #CCCCCC;
	font-weight: normal;
	margin-top: -18px;
}

h2 {
	font-size: 20px;
	color: #CCCCCC;
	font-weight: normal;
	margin-top: -18px;
}

h3 {
	font-size: 16px;
	color: blue;
	font-weight: normal;
	margin: 0;
	height: 16px;
	padding: 5px 5px 5px 5px;
	background: #F7F7F7;
	border-bottom: 1px solid #AAA;
}

iframe {
	width: 900px;
	height: 250px;
	border: 1px solid #aaa;
	padding: 0px;
}

input.textinput {
 	background:#F7F7F7;
	display:inline;
	padding:0 0 0 0;
	height:1.1em;
	border: 1px solid #CCCCCC;
}

input.textinput:hover { 
	background-color:white;
}

input.searchButton {
	background-color:blue;
	color:#FFFFFF;
	font-weight:bold;
	display:inline;
	padding:0 0 0 0;
	border:none;
	width:25px;
}

#nav {
	 position: relative;
	 width: 900px;
	 text-align: left;
	 margin: 0px 0px 0px 0px;
	 padding: 0px 0px 0px 0px;
}


#nav ul {
	color: #CCC;
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#nav li {
	margin: 0px -4px 0px 0px;
	padding: 10px 16px 10px 17px;
	display: inline;
	border: 1px solid #AAA;
	border-collapse: collapse;
}

p {
	padding:9px 9px 9px 9px;
	font-family:normal;
	font-family:arial, times,sans-serif;
	font-size:12px;
	word-spacing:2px;
	color:#AAaAAA;
	line-height:1.4em;
}

#states li a {
	font-size: 12px;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th {
	color: #555;
	font-size: 12px;
	font-weight: bold;
	padding: 3px 10px 3px 10px;
	border: none;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

td {
	color: #555;
	font-size: 12px;
	padding: 3px 10px 3px 10px;
	border: none;
	border-right: 1px solid #ccc;
}

td:last-child, th:last-child {
	border-right: none;
}

#top {
	margin-bottom: 10px;
}

tr.odd {
	background-color: #eee;
}

/*
#announcement {
	margin-top:65px;
	width:155px;
	position:relative;
	margin-left:-15px;
	margin-right:8px;
	float:left;
	padding:0px 0px 0px 0px;
}

		<div id="searchBox">
			<div id="searchAssist">search for term:&nbsp;</div>
			<input type="text" class="textinput" />
			<input type="submit" value="GO" class="searchButton" />
		</div>
		
		#searchAssist {
	font-family: arial, Times New Roman;
	color: #AAAAAA;
	float: left;
	margin-bottom: -4px;
}

#searchBox {
	float:right;
	margin-top:-33px;
	margin-right:10px;
}
*/
