a {
	font-family: arial;
	color: blue;
	font-size: 16px;
	text-decoration: none;

}

a:hover {
	text-decoration:underline;
}

a.inText {
	color:blue;
	font-size:12px;
	text-decoration: none;
}

body {
	font-family: arial, times,sans-serif;
	font-size: 12px;
	color: #44;
	background-color: white;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}


#container{
	width: 900px;
	margin-bottom: 20px;
}

div.module {
	margin-top: 14px;
   border: 1px solid #AAAAAA;
	margin-left: 0px;
	font-family: normal;
	font-family: arial, times,sans-serif;
	font-size: 12px;
	word-spacing: 2px;
	color: #AAA;
	line-height: 1.4em;
}

fieldset {
	border: 1px solid #aaa;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	width: 840px;
	background-color: #f8f8f8;
}

fieldset label {
	font-weight: bold;
}

fieldset legend {
	font-size: 16px;
	color: blue;
}

fieldset td {
	border-right: none;
}

#find-doctors-panel {
	width: 900px;
	height: 200px;
	overflow-y: scroll;
	overflow-x: hidden;
	border: 1px solid #aaa;
}

#found-doctors-panel {
	width: 900px;
	height: 150px;
	overflow-y: scroll;
	overflow-x: hidden;
	border: 1px solid #aaa;
}

#found-doctors-panel tr.odd {
	background-color: #ededfd;
}

#footer {
	margin-top: 40px;
	padding-top: 10px;
	text-align: center;
	border-top: 1px solid #CCCCCC;
	font-family: arial, times,sans-serif;
	font-size: 12px;
	clear: both;
	color: #AAA;
}

h1 {
	margin-top: 10px;
	font-size: 24px;
	color: blue;
	font-weight: normal;
}

h2 span {
	font-size: 24px;
	color: #CCCCCC;
	font-weight: normal;
	margin-top: -18px;
}

h2 {
	margin-top: 30px;
	font-size: 24px;
	color: blue;
	font-weight: normal;
}

h3 {
	font-size: 16px;
	color: blue;
	font-weight: normal;
	margin: 0;
	height: 16px;
	padding: 5px 5px 5px 5px;
	background: #F7F7F7;
	border-bottom: 1px solid #AAA;
}

input.textinput {
 	background: #fff;
	display: inlne;
	padding: 0 0 0 0;
	margin-left: 10px;
	height: 1.4em;
	border: 1px solid #aaa;
	width: 300px;
}

input.textinput:hover { 
	background-color:white;
}

input.searchButton {
	background-color: blue;
	color: #FFFFFF;
	font-weight: bold;
	display: inline;
	padding: 0 0 0 0;
	border: none;
	width: 28px;
	height: 1.4em;
}

#middle-panel {
	width: 900px;
	height: 60px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-color: #f6f6f6;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
}

#middle-panel #move-up-down-div {
	float: left;
	width: 170px;
	text-align: center;
	padding: 4px 0px 0px 40px;
}

#middle-panel #move-up-down {
	color: #CCC;
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#middle-panel #move-up-down li {
	margin: -1px 10px 0px 0px;
	padding: 6px 16px 6px 16px;
	border: 1px solid #aaa;
	background-color: white;
}

#middle-panel #toolbar-div {
	float: right;
	color: #CCC;
}

#middle-panel #toolbar {
	list-style-type: none;
	margin: 17px 40px 0px 10px;
	padding: 0px 0px 0px 0px;
}

#middle-panel #toolbar li {
	margin: 0px -1px 0px 0px;
	padding: 6px 13px 6px 13px;
	border: 1px solid #aaa;
	float: left;
	background-color: white;
}

#middle-panel a {
	font-size: 12px;
	margin: 0px;
	padding: 0px;
}

#nav {
	width: 900px;
	color: #CCC;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#nav ul {
	list-style-type: none;
	margin: 17px 40px 0px 10px;
	padding: 0px 0px 0px 0px;
}

#nav li {
	margin: 0px -1px 0px 0px;
	padding: 6px 13px 6px 13px;
	border: 1px solid #aaa;
	float: left;
	background-color: white;
}

p {
	padding: 9px 9px 9px 9px;
	font-family: normal;
	font-family: arial, times,sans-serif;
	font-size: 12px;
	word-spacing: 2px;
	color: #AAaAAA;
	line-height: 1.4em;
}
		
#searchAssist {
	font-family: arial, sans-serif;
	color: #555
	font-weight: bold;
	float: left;
}

#searchAssist label {
	margin: 1px 0px 0px 120px;
	padding: 0px;
	font-weight: bold;
	color: #555;
}

#searchBox {
	width: 840px;
	height: 38px;
	background-color: #f8f8f8;
	border: 1px solid #aaa;
}

table {
	border-collapse: collapse;
	width: 100%;
	font-family: arial, sans-serif;
	margin: 0px;
	padding: 0px;
}

th {
	color: #555;
	font-size: 12px;
	font-weight: bold;
	padding: 3px 10px 3px 10px;
	border: none;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

td {
	color: #555;
	font-size: 12px;
	padding: 3px 10px 3px 10px;
	border: none;
	border-right: 1px solid #ccc;
}

td:last-child, th:last-child {
	border-right: none;
}

tr.odd {
	background-color: #eee;
}