<div id="column-l">
	<div id="available-doctors" class="module">
		<h3>Available Doctors</h3>
		<ul id="states">
 			  <li><a href="alabama.html">Alabama - 7</a></li>
		 	  <li><a href="alaska.html">Alaska - 1</a></li>
			  <li><a href="arizona.html">Arizona - 13</a></li>
			  <li><a href="arkansas.html">Arkansas - 8</a></li>
			  <li><a href="california.html">California - 117</a></li>
			  <li><a href="colorado.html">Colorado - 23</a></li>
			  <li><a href="connecticut.html">Connecticut</a></li>
			  <li><a href="delaware.html">Delaware - 6</a></li>
			  <li><a href="DC.html">District of Columbia - 11</a></li>
			  <li><a href="florida.html">Florida - 23</a></li>
			  <li><a href="georgia.html">Georgia - 31</a></li>
			  <li><a href="hawaii.html">Hawaii - 23</a></li>
			  <li><a href="idaho.html">Idaho - 4</a></li>
			  <li><a href="illinois.html">Illinois - 16</a></li>
			  <li><a href="indiana.html">Indiana - 14</a></li>
			  <li><a href="iowa.html">Iowa - 13</a></li>
			  <li><a href="kansas.html">Kansas - 26</a></li>
			  <li><a href="kentucky.html">Kentucky - 16</a></li>
			  <li><a href="louisiana.html">Louisiana - 23</a></li>
			  <li><a href="maine.html">Maine - 8</a></li>
			  <li><a href="maryland.html">Maryland - 18</a></li>
			  <li><a href="massachusetts.html">Massachusetts - 29</a></li>
			  <li><a href="michigan.html">Michigan - 23</a></li>
			  <li><a href="minnesota.html">Minnesota - 19</a></li>
			  <li><a href="mississippi.html">Mississippi - 3</a></li>
			  <li><a href="missouri.html">Missouri - 23</a></li>
			  <li><a href="montana.html">Montana - 16</a></li>
			  <li><a href="nebraska.html">Nebraska - 23</a></li>
			  <li><a href="nevada.html">Nevada - 37</a></li>
			  <li><a href="newHampshire.html">New Hampshire - 17</a></li>
			  <li><a href="newJersey.html">New Jersey - 16</a></li>
			  <li><a href="newMexico.html">New Mexico - 23</a></li>
			  <li><a href="newYork.html">New York - 42</a></li>
			  <li><a href="northCarolina.html">North Carolina - 10</a></li>
			  <li><a href="northDakota.html">North Dakota - 23</a></li>
			  <li><a href="ohio.html">Ohio - 6</a></li>
			  <li><a href="oklahoma.html">Oklahoma - 16</a></li>
			  <li><a href="oregon.html">Oregon</a></li>
			  <li><a href="pennsylvania.html">Pennsylvania - 11</a></li>
			  <li><a href="puertoRico.html">Puerto Rico - 23</a></li>
			  <li><a href="rhodeIsland.html">Rhode Island - 0</a></li>
			  <li><a href="southCarolina.html">South Carolina - 2</a></li>
			  <li><a href="southDakota.html">South Dakota - 23</a></li>
			  <li><a href="tennessee.html">Tennessee - 9</a></li>
			  <li><a href="texas.html">Texas - 33</a></li>
			  <li><a href="utah.html">Utah - 14</a></li>
			  <li><a href="vermont.html">Vermont - 23</a></li>
			  <li><a href="virginia.html">Virginia - 22</a></li>
			  <li><a href="washington.html">Washington</a></li>
			  <li><a href="westVirginia.html">West Virginia - 16</a></li>
			  <li><a href="wisconsin.html">Wisconsin - 23</a></li>
			  <li><a href="wyoming.html">Wyoming - 1</a></li>
		</ul>
	</div>
</div>
<div id="column-r">
	<div class="module">
		<h3>Recent Activity</h3>
		<table>
			<tr class="header">
				<th>Encounter ID#</th>
				<th>Status</th>
				<th>Date</th>
				<th>Doctor Network</th>
				<th>Patient Group</th>
			</tr>
			<tr class="odd">
				<td>9093403</td>
				<td>Complete</td>
				<td>1/4/2010 - 3:45AM</td>
				<td>Pacific Physician Group</td>
				<td>Wellness, Inc.</td>
			</tr>
			<tr class="even">
				<td>9093403</td>
				<td>Complete</td>
				<td>1/4/2010 - 3:45AM</td>
				<td>Pacific Physician Group</td>
				<td>Wellness, Inc.</td>
			</tr>
			<tr class="odd">
				<td>9093403</td>
				<td>Complete</td>
				<td>1/4/2010 - 3:45AM</td>
				<td>Pacific Physician Group</td>
				<td>Wellness, Inc.</td>
			</tr>
			<tr class="even">
				<td>9093403</td>
				<td>Complete</td>
				<td>1/4/2010 - 3:45AM</td>
				<td>Pacific Physician Group</td>
				<td>Wellness, Inc.</td>
			</tr>
			<tr class="odd">
				<td>9093403</td>
				<td>Complete</td>
				<td>1/4/2010 - 3:45AM</td>
				<td>Pacific Physician Group</td>
				<td>Wellness, Inc.</td>
			</tr>
		</table>
	</div>

	<div class="module">
		<h3>Recent Encounters &amp; Transactions</h3>
		<table>
			<tr class="header">
				<th>Encounter ID#</th>
				<th>Status</th>
				<th>Date</th>
				<th>Doctor Network</th>
				<th>Patient Group</th>
			</tr>
			<tr class="odd">
				<td>9093403</td>
				<td>Complete</td>
				<td>1/4/2010 - 3:45AM</td>
				<td>Pacific Physician Group</td>
				<td>Wellness, Inc.</td>
			</tr>
			<tr class="even">
				<td>9093403</td>
				<td>Complete</td>
				<td>1/4/2010 - 3:45AM</td>
				<td>Pacific Physician Group</td>
				<td>Wellness, Inc.</td>
			</tr>
			<tr class="odd">
				<td>9093403</td>
				<td>Complete</td>
				<td>1/4/2010 - 3:45AM</td>
				<td>Pacific Physician Group</td>
				<td>Wellness, Inc.</td>
			</tr>
			<tr class="even">
				<td>9093403</td>
				<td>Complete</td>
				<td>1/4/2010 - 3:45AM</td>
				<td>Pacific Physician Group</td>
				<td>Wellness, Inc.</td>
			</tr>
			<tr class="odd">
				<td>9093403</td>
				<td>Complete</td>
				<td>1/4/2010 - 3:45AM</td>
				<td>Pacific Physician Group</td>
				<td>Wellness, Inc.</td>
			</tr>
		</table>
	</div>

	<div class="module">
		<h3>Request for Admin Review</h3>
		<table>
			<tr class="header">
				<th>Request ID#</th>
				<th>Doctor</th>
				<th>Date</th>
				<th>Status</th>
				<th>XXXXXXXXXX</th>
			</tr>
			<tr class="odd">
				<td>9093403</td>
				<td>Complete</td>
				<td>1/4/2010 - 3:45AM</td>
				<td>Pacific Physician Group</td>
				<td>Wellness, Inc.</td>
			</tr>
			<tr class="even">
				<td>9093403</td>
				<td>Complete</td>
				<td>1/4/2010 - 3:45AM</td>
				<td>Pacific Physician Group</td>
				<td>Wellness, Inc.</td>
			</tr>
			<tr class="odd">
				<td>9093403</td>
				<td>Complete</td>
				<td>1/4/2010 - 3:45AM</td>
				<td>Pacific Physician Group</td>
				<td>Wellness, Inc.</td>
			</tr>
			<tr class="even">
				<td>9093403</td>
				<td>Complete</td>
				<td>1/4/2010 - 3:45AM</td>
				<td>Pacific Physician Group</td>
				<td>Wellness, Inc.</td>
			</tr>
			<tr class="odd">
				<td>9093403</td>
				<td>Complete</td>
				<td>1/4/2010 - 3:45AM</td>
				<td>Pacific Physician Group</td>
				<td>Wellness, Inc.</td>
			</tr>
		</table>
	</div>
	
	<div class="module">
		<h3>Unread Messages</h3>
		<table>
			<tr class="header">
				<th>Encounter ID#</th>
				<th>Status</th>
				<th>Date</th>
				<th>Doctor Network</th>
				<th>Patient Group</th>
			</tr>
			<tr class="odd">
				<td>9093403</td>
				<td>Complete</td>
				<td>1/4/2010 - 3:45AM</td>
				<td>Pacific Physician Group</td>
				<td>Wellness, Inc.</td>
			</tr>
			<tr class="even">
				<td>9093403</td>
				<td>Complete</td>
				<td>1/4/2010 - 3:45AM</td>
				<td>Pacific Physician Group</td>
				<td>Wellness, Inc.</td>
			</tr>
			<tr class="odd">
				<td>9093403</td>
				<td>Complete</td>
				<td>1/4/2010 - 3:45AM</td>
				<td>Pacific Physician Group</td>
				<td>Wellness, Inc.</td>
			</tr>
			<tr class="even">
				<td>9093403</td>
				<td>Complete</td>
				<td>1/4/2010 - 3:45AM</td>
				<td>Pacific Physician Group</td>
				<td>Wellness, Inc.</td>
			</tr>
			<tr class="odd">
				<td>9093403</td>
				<td>Complete</td>
				<td>1/4/2010 - 3:45AM</td>
				<td>Pacific Physician Group</td>
				<td>Wellness, Inc.</td>
			</tr>
		</table>
	</div>
	
	<div class="module">
		<h3>Patient Roster Updates</h3>
		<table>
			<tr class="header">
				<th>Encounter ID#</th>
				<th>Status</th>
				<th>Date</th>
				<th>Doctor Network</th>
				<th>Patient Group</th>
			</tr>
			<tr class="odd">
				<td>9093403</td>
				<td>Complete</td>
				<td>1/4/2010 - 3:45AM</td>
				<td>Pacific Physician Group</td>
				<td>Wellness, Inc.</td>
			</tr>
			<tr class="even">
				<td>9093403</td>
				<td>Complete</td>
				<td>1/4/2010 - 3:45AM</td>
				<td>Pacific Physician Group</td>
				<td>Wellness, Inc.</td>
			</tr>
			<tr class="odd">
				<td>9093403</td>
				<td>Complete</td>
				<td>1/4/2010 - 3:45AM</td>
				<td>Pacific Physician Group</td>
				<td>Wellness, Inc.</td>
			</tr>
			<tr class="even">
				<td>9093403</td>
				<td>Complete</td>
				<td>1/4/2010 - 3:45AM</td>
				<td>Pacific Physician Group</td>
				<td>Wellness, Inc.</td>
			</tr>
			<tr class="odd">
				<td>9093403</td>
				<td>Complete</td>
				<td>1/4/2010 - 3:45AM</td>
				<td>Pacific Physician Group</td>
				<td>Wellness, Inc.</td>
			</tr>
		</table>
	</div>
	
	<div class="module">
		<h3>Doctor Roster Updates</h3>
		<table>
			<tr class="header">
				<th>Encounter ID#</th>
				<th>Status</th>
				<th>Date</th>
				<th>Doctor Network</th>
				<th>Patient Group</th>
			</tr>
			<tr class="odd">
				<td>9093403</td>
				<td>Complete</td>
				<td>1/4/2010 - 3:45AM</td>
				<td>Pacific Physician Group</td>
				<td>Wellness, Inc.</td>
			</tr>
			<tr class="even">
				<td>9093403</td>
				<td>Complete</td>
				<td>1/4/2010 - 3:45AM</td>
				<td>Pacific Physician Group</td>
				<td>Wellness, Inc.</td>
			</tr>
			<tr class="odd">
				<td>9093403</td>
				<td>Complete</td>
				<td>1/4/2010 - 3:45AM</td>
				<td>Pacific Physician Group</td>
				<td>Wellness, Inc.</td>
			</tr>
			<tr class="even">
				<td>9093403</td>
				<td>Complete</td>
				<td>1/4/2010 - 3:45AM</td>
				<td>Pacific Physician Group</td>
				<td>Wellness, Inc.</td>
			</tr>
			<tr class="odd">
				<td>9093403</td>
				<td>Complete</td>
				<td>1/4/2010 - 3:45AM</td>
				<td>Pacific Physician Group</td>
				<td>Wellness, Inc.</td>
			</tr>
		</table>
	</div>
</div>

