
<div id="column-l">
<div id="find-panel" class ="module">
	<div id="search-module">
		<h3>Search</h3>
		<div id="search-text">
			<p>DG Quick Search:</p>
			</div>
		<div id="search-input">
			<input type="text" class="textinput" />
			<input type="submit" value="GO" class="searchButton" />
	</div>
	</div>
</div>
<div id="find-panel-scroll" class="module">
			<table>
				<tr class="header">
					<th>Name</th>
					<th>Roster Size</th>
				</tr>
				<tr class="odd">
					<th>Wellness Inc.</th>
					<th>38</th>
				</tr>
					<tr class="even">
						<th>Wellness Inc.</th>
						<th>38</th>
					</tr>
						<tr class="odd">
							<th>Wellness Inc.</th>
							<th>38</th>
						</tr>
							<tr class="even">
								<th>Wellness Inc.</th>
								<th>38</th>
							</tr>
								<tr class="odd">
									<th>Wellness Inc.</th>
									<th>38</th>
								</tr>
								</table>

</div>
</div>
</div>
</div>

<div id="column-r">
	<div id="find-panel-scroll" class="module">
		<h3>Doctor Group Modification Stream</h3>
		<table>
			<tr class="header">
				<th>Last Modified</th>
				<th>Doctor Group</th> 
				<th>Modification</th>
				</tr>
			<tr class="even">
				<th>12-23-2010 2:34pm</th>
				<th>Wellness Inc.</th>
				<th>Roster Update</th>
				</tr>
					<tr class="odd">
						<th>12-23-2010 2:34pm</th>
						<th>Wellness Inc.</th>
						<th>Roster Update</th>
						</tr>
							<tr class="even">
								<th>12-23-2010 2:34pm</th>
								<th>Wellness Inc.</th>
								<th>Routing Update</th>
								</tr>
									<tr class="odd">
										<th>12-23-2010 2:34pm</th>
										<th>Wellness Inc.</th>
										<th>IVR Update</th>
										</tr>
			</table>
			</div>
			
		