<div id="filters" class="module">
	<h3>Filter Options</h3> 
	<table>
		<tr>
			<td>
				<label>Specialty:</label>
				<select>
					<option>Any</option>
					<option>Option 2</option>
					<option>Option 3 - A long Option</option>
					<option>Option 3 - A long Option</option>
				</select>
			</td>
			<td>
				<label>Feedback Score:</label>
				<select>
					<option>Any</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
				</select>
			</td>
			<td>
				<label>Premium Pool Only</label>
				<input type="checkbox">
			</td>
		</tr>
		<tr>
			<td>
				<label># of Calls</label>
				<select>
					<option>Any</option>
					<option>Option 2</option>
					<option>Option 3 - A long Option</option>
					<option>Option 3 - A long Option</option>
				</select>
			</td>
			<td>
				<label>Age:</label>
				<select>
					<option>Any</option>
					<option>18-44</option>
					<option>45-79</option>
					<option>80+</option>
				</select>
			</td>
			<td>
				<label>Doctor Network:</label>
				<select>
					<option>Any</option>
					<option>Option 2</option>
					<option>Option 3 - A long Option</option>
					<option>Option 3 - A long Option</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>
				<label>State of Licensure:</label>
				<select>
					<option>Any</option>
					<option>Option 2</option>
					<option>Option 3 - A long Option</option>
					<option>Option 3 - A long Option</option>
				</select>
			</td>
			<td>
				<label>Ethnicity:</label>
				<select>
					<option>Any</option>
					<option>Option 2</option>
					<option>Option 3 - A long Option</option>
					<option>Option 3 - A long Option</option>
				</select>
			</td>
			<td>
				<label>Flagged for Investigation:</label>
				<input type="checkbox">
			</td>
		</tr>
		<tr>
			<td>
				<label>Language:</label>
				<select>
					<option>Any</option>
					<option>Option 2</option>
					<option>Option 3 - A long Option</option>
					<option>Option 3 - A long Option</option>
				</select>
			</td>
			<td colspan="2">
				<label>Employed For:</label>
				<select>
					<option>More Than</option>
					<option>Option 2</option>
					<option>Less Than</option>
				</select>
				<select>
					<option>2 Months</option>
					<option>Option 2</option>
				</select> 
			</td>
		</tr>
	</table>	
</div>
<div id="search-module" class="module">
	<h3>Search</h3>
	<div id="search-text">
		<p>Selected Default Search Column:</p>
	</div>
	<div id="search-input">
		<input type="text" class="textinput" />
		<input type="submit" value="GO" class="searchButton" />
	</div>
</div>
<div id="find-panel" >
	<h3>Doctors Matching Your Search...</h3>
	<div id="find-panel-scroll">
		<table>
			<tr class="header">
				<th width="25%">Last Name</th>
				<th width="15%">First Name</th>
				<th>Doctor ID#</th>
				<th>Default Phone #</th>
				<th>Current Availability</th>
			</tr>
			<tr class="odd">
				<td>Stewartson</td>
				<td>Rod</td>
				<td>#18734349</td>
				<td>1 (310) 619-6418</td>
				<td>Available</td>
			</tr>
			<tr class="even">
				<td>Stewartson</td>
				<td>Rod</td>
				<td>#18734349</td>
				<td>1 (310) 619-6418</td>
				<td>Available</td>
			</tr>
			<tr class="odd">
				<td>Stewartson</td>
				<td>Rod</td>
				<td>#18734349</td>
				<td>1 (310) 619-6418</td>
				<td>Available</td>
			</tr>
			<tr class="even">
				<td>Stewartson</td>
				<td>Rod</td>
				<td>#18734349</td>
				<td>1 (310) 619-6418</td>
				<td>Available</td>
			</tr>
			<tr class="odd">
				<td>Stewartson</td>
				<td>Rod</td>
				<td>#18734349</td>
				<td>1 (310) 619-6418</td>
				<td>Available</td>
			</tr>
			<tr class="even">
				<td>Stewartson</td>
				<td>Rod</td>
				<td>#18734349</td>
				<td>1 (310) 619-6418</td>
				<td>Available</td>
			</tr>
			<tr class="odd">
				<td>Stewartson</td>
				<td>Rod</td>
				<td>#18734349</td>
				<td>1 (310) 619-6418</td>
				<td>Available</td>
			</tr>
			<tr class="even">
				<td>Stewartson</td>
				<td>Rod</td>
				<td>#18734349</td>
				<td>1 (310) 619-6418</td>
				<td>Available</td>
			</tr>
			<tr class="odd">
				<td>Stewartson</td>
				<td>Rod</td>
				<td>#18734349</td>
				<td>1 (310) 619-6418</td>
				<td>Available</td>
			</tr>
			<tr class="even">
				<td>Stewartson</td>
				<td>Rod</td>
				<td>#18734349</td>
				<td>1 (310) 619-6418</td>
				<td>Available</td>
			</tr>
			<tr class="odd">
				<td>Stewartson</td>
				<td>Rod</td>
				<td>#18734349</td>
				<td>1 (310) 619-6418</td>
				<td>Available</td>
			</tr>
			<tr class="even">
				<td>Stewartson</td>
				<td>Rod</td>
				<td>#18734349</td>
				<td>1 (310) 619-6418</td>
				<td>Available</td>
			</tr>
			<tr class="odd">
				<td>Stewartson</td>
				<td>Rod</td>
				<td>#18734349</td>
				<td>1 (310) 619-6418</td>
				<td>Available</td>
			</tr>
			<tr class="even">
				<td>Stewartson</td>
				<td>Rod</td>
				<td>#18734349</td>
				<td>1 (310) 619-6418</td>
				<td>Available</td>
			</tr>
		</table>
	</div>
</div>
	
<div id="middle-panel">
	<div id="move-up-down-div">
		<ul id="move-up-down">
			<li><a href="#">Select All Above</a></li>
			<li><a href="#">Move Selected Below</a></li>
		</ul>
	</div>
	<div id="toolbar-div">
		<ul id="toolbar">
			<li><a href="#">Group Edit</a></li>
			<li><a href="#">Create a New DN</a></li>
			<li><a href="#">Send to RT-Management</a></li>
			<li><a href="#">Send to Messaging</a></li>
		</ul>
	</div>
</div>
	
<div id="found-panel">
	<h3>Doctors You've Selected</h3>
	<div id="found-panel-scroll">
		<table>
			<tr class="header">
				<th>Encounter ID#</th>
				<th>Status</th>
				<th>Date</th>
				<th>Doctor Network</th>
				<th>Patient Group</th>
			</tr>
			<tr class="odd">
				<td>Stewartson</td>
				<td>Rod</td>
				<td>#18734349</td>
				<td>1 (310) 619-6418</td>
				<td>Available</td>
			</tr>
			<tr class="even">
				<td>Stewartson</td>
				<td>Rod</td>
				<td>#18734349</td>
				<td>1 (310) 619-6418</td>
				<td>Available</td>
			</tr>
			<tr class="odd">
				<td>Stewartson</td>
				<td>Rod</td>
				<td>#18734349</td>
				<td>1 (310) 619-6418</td>
				<td>Available</td>
			</tr>
			<tr class="even">
				<td>Stewartson</td>
				<td>Rod</td>
				<td>#18734349</td>
				<td>1 (310) 619-6418</td>
				<td>Available</td>
			</tr>
			<tr class="odd">
				<td>Stewartson</td>
				<td>Rod</td>
				<td>#18734349</td>
				<td>1 (310) 619-6418</td>
				<td>Available</td>
			</tr>
		</table>
	</div>
</div>