<div id="filters" class="module">
	<h3>Filter Options</h3> 
	<table>
		<tr>
			<td>
				<label>Independent/Dependent:</label>
				<select>
					<option>Any</option>
					<option>Independent</option>
					<option>Dependent</option>
				</select>
			</td>
			<td>
				<label>Country:</label>
				<select>
					<option>USA</option>
					<option>Belgium</option>
					<option>Turkmenistan</option>
					<option>United Arab Emirates</option>
				</select>
			</td>
			<td>
				<label>Patient Group:</label>
				<select>
					<option>Any</option>
					<option>Kaiser Permanente, America</option>
					<option>Wellness, Inc.</option>
					<option>Etc.</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>
				<label># of Calls During Past:</label>
				<select>
					<option>Any</option>
					<option>3 months</option>
					<option>6 months</option>
					<option>1 year</option>
				</select>
			</td>
			<td>
				<label>Age:</label>
				<select>
					<option>Any</option>
					<option>18-44</option>
					<option>45-79</option>
					<option>80+</option>
				</select>
			</td>
			<td>
				<label>Doctor Group:</label>
				<select>
					<option>Any</option>
					<option>Option 2</option>
					<option>Option 3 - A long Option</option>
					<option>Option 3 - A long Option</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>
				<label>State of Residence:</label>
				<select>
					<option>Any</option>
					<option>Option 2</option>
					<option>Option Option</option>
					<option>Option 3</option>
				</select>
			</td>
			<td>
				<label>Ethnicity:</label>
				<select>
					<option>Any</option>
					<option>Option 2</option>
					<option>Option 3 - A long Option</option>
					<option>Option 3 - A long Option</option>
				</select>
			</td>
			<td>
				<label>Flagged for Investigation:</label>
				<input type="checkbox">
			</td>
		</tr>
		<tr>
			<td>
				<label>Language:</label>
				<select>
					<option>Any</option>
					<option>Option 2</option>
					<option>Option 3 - A long Option</option>
					<option>Option 3 - A long Option</option>
				</select>
			</td>
			<td colspan="2">
				<label>Member For:</label>
				<select>
					<option>More Than</option>
					<option>Option 2</option>
					<option>Less Than</option>
				</select>
				<select>
					<option>2 Months</option>
					<option>Option 2</option>
				</select> 
			</td>
		</tr>
	</table>	
</div>
<div id="search-module" class="module">
	<h3>Search</h3>
	<div id="search-options">
		<select>
			<option>Encounter ID#</option>
			<option>Patient Group</option>
			<option>Doctor Group</option>
			<option>Patient ID#</option>
			<option>Doctor ID#</option>
		</select>
	</div>
	<div id="search-input">
		<input type="text" class="textinput" />
		<input type="submit" value="GO" class="searchButton" />
	</div>
</div>
<div id="find-panel" >
	<h3>Encounters Matching Your Search...</h3>
	<div id="find-panel-scroll">
		<table>
			<tr class="header">
				<th width="25%">Last Name</th>
				<th width="15%">First Name</th>
				<th>Patient ID#</th>
				<th>Patient Group</th>
				<th>State</th>
			</tr>
			<tr class="odd">
				<td>Stewartson</td>
				<td>Rod</td>
				<td>#18734349</td>
				<td>1 (310) 619-6418</td>
				<td>California</td>
			</tr>
			<tr class="even">
				<td>Stewartson</td>
				<td>Rod</td>
				<td>#18734349</td>
				<td>1 (310) 619-6418</td>
				<td>California</td>
			</tr>
			<tr class="odd">
				<td>Stewartson</td>
				<td>Rod</td>
				<td>#18734349</td>
				<td>1 (310) 619-6418</td>
				<td>California</td>
			</tr>
			<tr class="even">
				<td>Stewartson</td>
				<td>Rod</td>
				<td>#18734349</td>
				<td>1 (310) 619-6418</td>
				<td>California</td>
			</tr>
			<tr class="odd">
				<td>Stewartson</td>
				<td>Rod</td>
				<td>#18734349</td>
				<td>1 (310) 619-6418</td>
				<td>California</td>
			</tr>
			<tr class="even">
				<td>Stewartson</td>
				<td>Rod</td>
				<td>#18734349</td>
				<td>1 (310) 619-6418</td>
				<td>California</td>
			</tr>
			<tr class="odd">
				<td>Stewartson</td>
				<td>Rod</td>
				<td>#18734349</td>
				<td>1 (310) 619-6418</td>
				<td>California</td>
			</tr>
			<tr class="even">
				<td>Stewartson</td>
				<td>Rod</td>
				<td>#18734349</td>
				<td>1 (310) 619-6418</td>
				<td>California</td>
			</tr>
			<tr class="odd">
				<td>Stewartson</td>
				<td>Rod</td>
				<td>#18734349</td>
				<td>1 (310) 619-6418</td>
				<td>California</td>
			</tr>
			<tr class="even">
				<td>Stewartson</td>
				<td>Rod</td>
				<td>#18734349</td>
				<td>1 (310) 619-6418</td>
				<td>California</td>
			</tr>
			<tr class="odd">
				<td>Stewartson</td>
				<td>Rod</td>
				<td>#18734349</td>
				<td>1 (310) 619-6418</td>
				<td>California</td>
			</tr>
			<tr class="even">
				<td>Stewartson</td>
				<td>Rod</td>
				<td>#18734349</td>
				<td>1 (310) 619-6418</td>
				<td>California</td>
			</tr>
			<tr class="odd">
				<td>Stewartson</td>
				<td>Rod</td>
				<td>#18734349</td>
				<td>1 (310) 619-6418</td>
				<td>California</td>
			</tr>
			<tr class="even">
				<td>Stewartson</td>
				<td>Rod</td>
				<td>#18734349</td>
				<td>1 (310) 619-6418</td>
				<td>California</td>
			</tr>
			<tr class="odd">
				<td>Stewartson</td>
				<td>Rod</td>
				<td>#18734349</td>
				<td>1 (310) 619-6418</td>
				<td>California</td>
			</tr>
			<tr class="even">
				<td>Stewartson</td>
				<td>Rod</td>
				<td>#18734349</td>
				<td>1 (310) 619-6418</td>
				<td>California</td>
			</tr>
			<tr class="odd">
				<td>Stewartson</td>
				<td>Rod</td>
				<td>#18734349</td>
				<td>1 (310) 619-6418</td>
				<td>California</td>
			</tr>
			<tr class="even">
				<td>Stewartson</td>
				<td>Rod</td>
				<td>#18734349</td>
				<td>1 (310) 619-6418</td>
				<td>California</td>
			</tr>
			<tr class="odd">
				<td>Stewartson</td>
				<td>Rod</td>
				<td>#18734349</td>
				<td>1 (310) 619-6418</td>
				<td>California</td>
			</tr>
			<tr class="even">
				<td>Stewartson</td>
				<td>Rod</td>
				<td>#18734349</td>
				<td>1 (310) 619-6418</td>
				<td>California</td>
			</tr>
			<tr class="odd">
				<td>Stewartson</td>
				<td>Rod</td>
				<td>#18734349</td>
				<td>1 (310) 619-6418</td>
				<td>California</td>
			</tr>
			<tr class="even">
				<td>Stewartson</td>
				<td>Rod</td>
				<td>#18734349</td>
				<td>1 (310) 619-6418</td>
				<td>California</td>
			</tr>
			<tr class="odd">
				<td>Stewartson</td>
				<td>Rod</td>
				<td>#18734349</td>
				<td>1 (310) 619-6418</td>
				<td>California</td>
			</tr>
			<tr class="even">
				<td>Stewartson</td>
				<td>Rod</td>
				<td>#18734349</td>
				<td>1 (310) 619-6418</td>
				<td>California</td>
			</tr>
			<tr class="odd">
				<td>Stewartson</td>
				<td>Rod</td>
				<td>#18734349</td>
				<td>1 (310) 619-6418</td>
				<td>California</td>
			</tr>
			<tr class="even">
				<td>Stewartson</td>
				<td>Rod</td>
				<td>#18734349</td>
				<td>1 (310) 619-6418</td>
				<td>California</td>
			</tr>
			<tr class="odd">
				<td>Stewartson</td>
				<td>Rod</td>
				<td>#18734349</td>
				<td>1 (310) 619-6418</td>
				<td>California</td>
			</tr>
			<tr class="even">
				<td>Stewartson</td>
				<td>Rod</td>
				<td>#18734349</td>
				<td>1 (310) 619-6418</td>
				<td>California</td>
			</tr>
		</table>
	</div>
</div>