<div id="master-settings-div" class="module">
	<h3>Master Settings</h3>
	<div id="column-l">
		<p>
			<label>Maximum number of simultaneous outbound calls:</label>
		</p>
		<p>
			<label>Maximum number of rings:</label>
		</p>
		<p>
			<label>Number of missed calls to doctor which requires validation:</label>
		</p>
		<p>
			<label>Number of missed calls required to mark doctor unavailable:</label>
		</p>
		<p>	
			<label>Set as unavailable for:</label>
		</p>
		<p>	
			<label>General Doctor Group Pay Rate:</label>
		</p>
	</div>
	<div id="column-r">
		<p>
			<select>
				<option>5</option>
				<option>4</option>
			</select>
		</p>
		<p>
			<select>
				<option>5</option>
				<option>4</option>
			</select>
		</p>
		<p>
			<select>
				<option>5</option>
				<option>4</option>
			</select>
		</p>
		<p>
			<select>
				<option>5</option>
				<option>4</option>
			</select>
		</p>
		<p>	
			<select>
				<option>10</option>
				<option>20</option>
				<option>30</option>
			</select>
			<select>
				<option>Minutes</option>
				<option>Hours</option>
				<option>Days</option>
				<option>Weeks</option>
			</select>
		</p>
		<p>	
			<input type="text" />
		</p>
	</div>
</div>